/* Stats Style */

.stats {
    flex: 0.7;
}


/* States Boxes Style */

.stats__boxes,
.box__categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats__boxes {
    justify-content: space-between;
}

.stats__boxes:hover>.box {
    transform: scale(0.99);
    opacity: 0.6;
}


/* Filter Box Style */

.box {
    padding: 1.2rem;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    background: var(--bg-sec);
    transition: all 0.4s ease-out;
}

.box h5 {
    margin-bottom: 10px;
}

.box h5 {
    font-weight: 700;
}

.stats__boxes .box:hover {
    opacity: 1;
    transform: scale(1.08);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


/* Filter Box Style */

.filterBox {
    width: 188px;
    height: 117px;
}

.box__category {
    width: fit-content;
    border-radius: 6px;
    padding: 10px;
    background: var(--bg-third);
}

.box__category:nth-child(2) {
    background-color: var(--blue);
}


/* Total Box Style */

.totalBox {
    width: 287px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalBox__numbers h4 {
    font-size: 2rem;
}

.totalBox__numbers h4 span {
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
}

.totalBox__right {
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.totalBox__cart {
    font-size: 2rem !important;
}


/* Stats - Responsive Style */

@media screen and (max-width: 1100px) {
    .filterBox {
        width: 120px;
        height: 100px;
    }
    .box {
        padding: 1.2rem;
        margin: 0.4rem 0.6rem;
    }
    /* Total Box Style */
    .totalBox {
        width: 240px;
        height: 100px;
    }
}

@media screen and (max-width: 900px) {
    .filterBox,
    .totalBox {
        width: 80%;
    }
    .stats__boxes {
        flex-direction: column;
        justify-content: space-between;
    }
}